<app-todo-register (registerEvent)="todoRefresh()"></app-todo-register>

<ul class="todo-list">
  <label *ngFor="let todo of todoList" for="select_id_{{ todo.item.id }}">
    <li class="todo-list__item">
      <input type="checkbox" id="select_id_{{ todo.item.id }}" [(ngModel)]="todo.checked" name="ids[]">
      <div>
        <h3 class="todo-list__title">{{ todo.item.title }}</h3>
        <div>
          <pre>{{ todo.item.body }}</pre>
          {{ categoryRef.get(todo.item.categoryId)?.name || 'no category' }}
        </div>
      </div>
    </li>
  </label>

  <button (click)="deleteTodo()">削除</button>
</ul>