<app-todo-register (registerEvent)="todoRefresh('save')"></app-todo-register>

<div class="todo-list">
  <ul class="todo-list__content">
    <label *ngFor="let todo of todoList" for="select_id_{{ todo.item.id }}">
      <li>
        <mat-card class="todo-list__item">
          <mat-card-header>
            <input type="checkbox" id="select_id_{{ todo.item.id }}" [(ngModel)]="todo.checked" name="ids[]">
            <mat-card-title>{{ todo.item.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <pre class="todo-list__body">{{ todo.item.body }}</pre>
            {{ categoryRef.get(todo.item.categoryId)?.name || 'no category' }}
          </mat-card-content>
        </mat-card>
      </li>
    </label>
  </ul>
  <button mat-icon-button color="primary" (click)="deleteTodo()">
    <mat-icon>delete</mat-icon>
  </button>
</div>