<div class="todo-register">
  <div class="todo-register__click-item">
    <mat-form-field>
      <mat-select name="categoryId" [(ngModel)]="todo.categoryId" class="todo-register__select-item">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="todo.state" class="todo-register__select-item">
        <mat-option *ngFor="let stateType of stateTypes" [value]="stateType">
          {{ stateType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button color="primary" (click)="addTodo()" class="todo-register__button">
      <mat-icon>save</mat-icon>
    </button>
  </div>

  <div class="todo-register__text-item">
    <mat-form-field>
      <mat-label>やること</mat-label>
      <input matInput type="text" [(ngModel)]="todo.title" class="todo-register__title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>内容</mat-label>
      <textarea matInput cols="30" rows="10" [(ngModel)]="todo.body" class="todo-register__body"></textarea>
    </mat-form-field>
  </div>
</div>