@import "../share/share.scss";

.hero-list {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 10px;

  &__item {
    display: flex;
    align-content: flex-start;
    margin-bottom: 10px;
    &:hover {
      background-color: gray;
    }

    &_selected {
      background: linear-gradient(transparent 90%, red 50%);
    }
  }

  &__id {
    flex-grow: 1;
    margin-right: 10px;
  }

  &__name {
    flex-grow: 1;
  }
}